.side-row{
    border-bottom: 1px solid var(--color-grey);
    padding: 0.4rem 1.5rem;
}

.side-row h6{
    font-size: 1rem;
    margin: 1px;
    /* color: red; */

}
.side-row input{
    background-color: red;
}