.feature-grid {
  flex: 1;

  /* background-color: var(--color-light-gray); */
  border: 1px solid var(--color-info-dark);
  border-radius: var(--border-radius-1);
  overflow: hidden;
}

.feature-grid img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .feature-grid {
    width: 250px;
    height: 250px;
    margin: 1rem auto;
  }
}
