.zoom-effect{

   &:hover {
    img{
    transform: scale(1.2);
    filter: grayscale(60%);

    transition: all 0.3s ease-in-out;
        
    }
    > div{
        // background: blue;
        filter: grayscale(100%);

        // grayscale
    }
}
}