
.footer-container{
    width: 80%;
  }
  .footer-container > div{
    /* text-align: center; */
  flex: 1;
  border-right: 1px solid black;
  padding: 0 1.2rem;
  font-weight: 200;
  list-style: 1.2rem;
  font-size: 0.7rem;
  
  }
  .footer-container > div h4{
    text-align: center;
  }
  .footer-container > div:nth-last-child(){
    border-right: none;
  }
  footer{
    padding-top: 1.5rem;
    margin-top: 2rem;
    background-color: rgba(14, 13, 13, 0.884);
    /* color: #fff; */
    line-height: 1.6rem;
    font-size: 2rem;
  }
  footer p, footer li {
    color: white;
    font-size: 0.8rem;
  }

  footer h3, footer h4{
    color: aliceblue;
  }