@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: var(--color-white);
  margin: 0;
  padding: 0;
}
:root{
  --bg-primary-color: #222629;
  --color-grey: rgb(27, 27, 27);
  --color-white: #fff;
  --color-light-gray: rgb(112, 112, 112);
}
h3, h4, h2{
  color: #333;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
}
.p-container{
  /* padding: 300px; */
}
.m-h4{
  margin: 2rem 0;
}
.m-h2{
  margin: 1rem 0;
}
.prod-page{
  padding: 1rem;
}
.ml{
  margin-left: 3rem;
}
.fc-white{
  color: #fff;
}
.fs-3 {
  font-size: 1.5rem;
}
.center {
  text-align: center;
}
.m-auto{
  margin: auto;
}
.w-7{
  width: 70%;
}
.row {
  display: flex;
}
.flex{
  display: flex;
  justify-content: flex-start;
}
.flex-center{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: green; */
}
.col-md-6{
  /* background-color: blue; */
  flex-basis: 45%;
  gap: 5%;
  
}
.w-8{
  width: 80%;
  background-color: chartreuse;
}
.p-x5{
  padding-left: 5rem ;
  padding-right: 5rem;
}
.level{
  padding-top: 1rem;
}
.flex-center-around{
  display: flex;
  justify-content: space-around;
}
.feature-div{
  width: 70%;
}
.prod-page button{
  color: #333;
  margin-right: 0.2rem;
  width: fit-content;
  padding: 0.2rem 0.4rem;

}
.color-black{
  color: black;
}
.btn{
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  color: #333;

}
.btn-outline{
  border: 1px solid black;
}
.color-grey{
  color: rgb(27, 27, 27);
}
.side-nav{
  width: 340px;
  flex-basis: 20%;
  /* background-color: blueviolet; */
  border: 1px solid gray;
}
.bg-blue{
  background-color: blue;
}
.full-width{
  flex-basis: 78%;
}

.product-details{
  padding: 1.5rem;
  font-size: 0.8rem;
  color: #333;
}
.product-details p{
  color: #333;
}
.color-grey{
  color: #333;
}
.product-display-image{
  width: 350px;
  height: 350px;
  background-color: red;
  margin: 10px;
}
.product-display-image img{
  width: 100%;
}
.img-prev{  
  width: 60% ;
}
.img-prev img{
  width: 60px;
  height: 70px;
  background-color: green;
}
.cart-div{
  width: 60%;
  margin: auto;
}
.cart-div li{
  margin-top: 10px;
}
.cart-div li .cart-img {
  width: 250px;
  height: 250px;

}
.cart-div li .cart-img img{
  width: 100%;
}
/* details page */

.product-display-image{
  background-color: green;
  width: 100%;
  height: 450px;
  max-width: 450px;
}
.product-display-image img{
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.description-details p{
  /* background-color: yellow; */
  color: #333;
  font-size: 0.8rem;
  line-height: 40px;
}
.prev-details > div{
  margin: 1rem 0;
}
.prev-details p, .prev-details span {
  margin-right: 12px;
  color: #333;
  font-weight: 600;
}
.prev-details a{
  color: var(--color-white);
  padding: 6px 12px;
  background-color: rgb(24, 10, 83);
}
.prev-details a:hover{
  color: black;
  

}
button{
  color: #333;
}
.prev-details > div button{
  padding: 5px 10px;
  background-color: green;
  color: #333;
  border-radius: 3px;
}
.carter{
  width: 50%;
}
.btn-div{
  border: 0.7px solid rgb(116, 116, 116);
}
.btn-div span{
  padding-left: 6px;
  padding-right: 6px;
  /* width: 20px; */
  background-color: green;
  margin: 0;
  height: 100%;
}

/* carts */
.cart-div ul{
  border: 1px solid black;
  padding: 0;
  background-color: brown;
}
.cart-div li{
  background-color: aquamarine;
  width: 100%;
  
}
.cart-div .cart-img{
  width: 100%;
  max-width: 340px;
  flex-basis: 35%;
  border: 1px solid black;

}
.cart-div .cart-img img{
  width: 100%;
  height: 100%;
}
.cart-div .cart-det p{
  color: #222629;
}
.cart-div .cart-det{
  flex-basis: 40%;
  border: 1px solid black;
}
.cart-div .cart-btn{
  flex-basis: 20%;
  border: 1px solid black;
  display: flex;
  height: 30px;

}
.cart-div .cart-btn button{
  flex-basis: 25%;
}

@media screen and (max-width:600PX) {
  .flex-center-around{
    flex-direction: column;
  }
  .fs-3 {
    font-size: 1rem;
  }
  /* .flex-center{

  } */
}