@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  color: var(--color-white);
  margin: 0;
}
:root{
  --bg-primary-color: #222629;
  --color-grey: rgb(27, 27, 27);
  --color-white: #fff;
  --color-light-gray: rgb(112, 112, 112);
}
h3, h4{
  color: #333;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  width: 100%;
}
.prod-page{
  padding: 1rem;
}
.ml{
  margin-left: 3rem;
}
.fc-white{
  color: #fff;
}
.fs-3 {
  font-size: 1.5rem;
}
.center {
  text-align: center;
}
.m-auto{
  margin: auto;
}
.w-7{
  width: 70%;
}
.row {
  display: flex;
}
.flex{
  display: flex;
}
.flex-center{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: green; */
}
.col-md-6{
  background-color: blue;
  flex-basis: 50%;
  
}
.w-8{
  width: 80%;
  background-color: chartreuse;
}
.p-x5{
  padding-left: 5rem ;
  padding-right: 5rem;
}
.level{
  padding-top: 1rem;
}
.flex-center-around{
  display: flex;
  justify-content: space-around;
}
.feature-div{
  width: 70%;
}

.color-black{
  color: black;
}
.btn{
  width: fit-content;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;

}
.btn-outline{
  border: 1px solid black;
}
.color-grey{
  color: rgb(27, 27, 27);
}
.side-nav{
  width: 340px;
  flex-basis: 20%;
  background-color: blueviolet;
}
.bg-blue{
  background-color: blue;
}
.full-width{
  flex-basis: 78%;
}

.product-details{
  padding: 1.5rem;
  font-size: 0.8rem;
}
.product-display-image{
  width: 350px;
  height: 350px;
  background-color: red;
  margin: 10px;
}
.product-display-image img{
  width: 100%;
}
.img-prev{  
  width: 60% ;
}
.img-prev img{
  width: 60px;
  height: 70px;
  background-color: green;
}
.cart-div{
  width: 60%;
  margin: auto;
}
.cart-div li{
  margin-top: 10px;
}
.cart-div li .cart-img {
  width: 250px;
  height: 250px;

}
.cart-div li .cart-img img{
  width: 100%;
}
