
*{
    box-sizing: border-box;
    padding: 0;
    /* color: white; */
}
.navbar{
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 2rem; */
    /* background-color: rgb(240, 240, 240); */
    height: 90px;
    /* background-color: purple; */
    position: relative;
    background-color: #222629;
    color: white;


   margin-bottom: 10px;
}

.nav-div{
    display: flex;
    align-items: flex-end;
    flex: 5;
    height: 100%;
    padding: 0 2rem;
    color: white;
    
    /* background-color: brown; */
  
    
}
.nav-links{
    display: flex;
    list-style: none;
    color: white;


    /* background-color: green; */
    
    /* flex: 2; */
}
.logo{
    flex: 1;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;


}
.logo a{
    /* background-color: blueviolet; */
    color: rgb(20, 20, 20);
    font-size: 2rem;
    color: #fff;
    
}
.nav-item{
    padding: 0.83rem 1.5rem;
    border: 1px solid black;
    height: 100%;
    color: white;

    /* line-height: 45px; */
 
 
    display: flex;
    align-items: flex-start;
   
}
.nav-item a{
    color: white;
    font-size: 0.8rem;

}
.nav-item:hover .link-items{
    display: flex;
}
.search-div{
    display: flex;
    /* width: 90%; */
    /* background-color: red; */
    margin: auto;
    background-color: var(--color-light-gray) ;
    padding: 1rem 2rem;


}
.search-div input{
    width: 100%;
    padding: 0.4rem 1rem;
 
}
.link-items{
    position: absolute;
    width: 100%;
    background-color:rgb(255, 255, 255);
    left: 0;
    top: 100%;
    padding: 1rem 2rem;
    line-height: 100%;
    display: none;
    gap: 15px;
    /* min-height: 200px; */

    
}
.link-items a {
    color: #222629;
}

.link-items > *{
    margin: 1px;
    padding: 0 2rem;
    /* background-color: green; */
    border-right: 1px solid grey;
}
/* .link-items ul{
    margin: 1px;
    padding: 0 6px;
     background-color: green; 
    border-right: 1px solid grey;
} */
.link-items ul li{
    padding: 0.5rem 1rem;
}

.cart{
    /* background-color: blue; */
    position: relative;
}
.cart-icon{
    font-size: 1.6rem !important;
    color: #fff;
}
.cart span{
    position: absolute;
    top: -50%;
    right: -50%;
    /* padding: 8px; */
    text-align: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: rgba(31, 139, 31, 0.6);
}
.menu-div{
    display: none;
}
@media screen and (max-width: 600px) {
    .menu-div{

     display: flex;
     align-items: center;
     flex: 1;
    }
    .nav-links{
        display: none;
    }
    .nav-div{
        flex: 1;
        justify-content: flex-end;
        align-items: center;


    }
    nav .menu{
        color: yellow;
    }
    .menu-icon{
        color: black !important;
    }
}